.productAddedModal {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  gap: 30px;

  &_checkIcon {
    height: 30px;
    margin-right: 10px;
  }
  &_title {
    color: #039045;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    display: flex;
    justify-content: center;
  }
  &_closeBtn {
    background-color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transform: translate(235px, -157px);
    font-size: 1rem;
    color: grey;
    cursor: pointer;
  }
}
