.filterProducts_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: capitalize;
}
