.main {
  background: #fff8dc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 100px;
    margin-top: 40px;
    gap: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 8rem;
    font-weight: 600;
    &--title {
      color: #2c2723;
    }

    &--quote {
      font-size: 1.4rem;
      color: #554d47;
    }
  }
}

.link {
  text-decoration: none;
}

.landingButton {
  height: 80px;
  width: 200px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  border: #f6d654 3px solid;
  background-color: #f6d654;
  cursor: pointer;
  transform: translate(720px, -100px);
  color: #fff8dc;
}

.landingButton:hover {
  background-color: #fff8dc;
  color: #f6d654;
}
