.sliderContainer {
  /*   display: flex;
  width: 100%;
  height: 40vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  transform: translateY(22px); */
  &_img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    margin-top: 26px;
    /*  scroll-snap-align: center;
    cursor: ew-resize; */
  }
}
