.productList_container {
  background-color: #695d58;
  &--title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
  }
}

.productList_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.productList_eachItem {
  height: 450px;
  width: 250px;
  border: 0.1px solid grey;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;

  &--img {
    height: 200px;
    width: 170px;
    padding: 40px;
    object-fit: contain;
    cursor: pointer;
  }
  &--title {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
    color: #695d58;
    cursor: pointer;
  }

  &--price {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
  }

  &--description {
    overflow-y: scroll;
    height: 50px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  &--category {
    display: flex;
    justify-content: right;
    color: rgb(195, 192, 192);
  }
}

.link {
  text-decoration: none;
}
