.shoppinCartButton {
  margin-left: 10px;
}

.link_goToShoppingCart {
  text-decoration: none;
  cursor: pointer;
  color: gray;
}
.link_goToShoppingCart:hover {
  color: rgb(99, 60, 28);
  text-decoration: underline;
}
